@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: white;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    font-family: "__Inter_aaf875", "__Inter_Fallback_aaf875", "Helvetica", "Arial", sans-serif !important;
}

input:focus, textarea:focus, button:focus {
    outline-width: 0;
}

textarea::-webkit-resizer {
    display: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}